@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@0;1&family=Hedvig+Letters+Serif:opsz@12..24&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rethink+Sans:ital,wght@0,400..800;1,400..800&display=swap');

:root {
    --font-heading1: 60px;
    --font-heading2: 30px;
    --font-heading3: 22px;
    --font-para1: 18px;
    --font-para2: 15px;
    --font-caption: 30px;
    --font-label: 13px;
    --font-links: 15px;
    --font-display: 10px;
    --font-base-weight: 400;
    --font-secondary-weight: 500;
    --font-headvig: "Hedvig Letters Serif", serif;
    ;

}

html,
body {
    overflow-x: hidden;
    touch-action: pan-y;
    margin: 0 auto;
    padding: 0;
    font-family: 'Rethink Sans', sans-serif;
    max-width: 1280px;
    background-color: #FFFFFF;
    scroll-behavior: smooth;
    position: relative;
}

.body-line {
    content: '';
    position: absolute;
    top: 0;
    left: 19.5%;
    width: 0.02%;
    height: 100%;
    background-color: #575757;

    pointer-events: none;
    z-index: 9999;
    opacity: 0.2;
}

.sidebar {
    width: 250px;
    position: fixed;
}

header {
    display: none;
}

.logo {
    padding: 30px 0 30px 32px;
}

.side-nav {
    display: flex;
    flex-direction: column;
    padding: 24px 0 30px 32px;
    gap: 10px;

}

.sidebar-footer {
    display: flex;
    flex-direction: column;
    padding: 24px 0 30px 32px;
}

.side-nav a,
.sidebar-footer a,
.top-menu a,
.top-right a {
    text-decoration: none;
    color: #000000;
    line-height: 120%;
    letter-spacing: 0.02em;
    opacity: 1;
    font-weight: var(--font-secondary-weight);
    position: relative;
}

.side-nav a:hover,
.sidebar-footer a:hover,
.top-menu a:hover,
.top-right a:hover {
    color: #575757;
}

.one {
    position: absolute;
    top: -15%;
    font-size: 10px;
    color: #575757;
    font-weight: var(--font-secondary-weight);

}

.mobile-menu {
    display: none;
}


main {
    margin-left: 250px;
    /* overflow-y: auto; */
}

.guidelines {
    padding: 32px 32px 120px 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.guide {
    line-height: 110%;
    letter-spacing: -0.01%;
    font-weight: 500;
    font-size: var(--font-heading1);
    max-width: 419px;
    margin-top: 0;
}

.guide-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.guide-para {
    color: #575757;
    font-size: var(--font-para1);
    line-height: 120%;
    letter-spacing: -0.01em;
    font-weight: var(--font-secondary-weight);
    opacity: 1;
    max-width: 515px;
    margin-top: 0;
}

hr {
    margin: 0;
    opacity: 0.2;
}


/* content */

.content {
    padding: 32px 32px 128px 32px;
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.c-title {
    font-size: 30px;
    font-weight: var(--font-secondary-weight);
    line-height: 120%;
    letter-spacing: 0.02em;
}

.c-list {
    width: 427px;
    list-style: none;

}

.item {
    counter-increment: item;
    font-size: var(--font-heading2);
    line-height: 120%;
    letter-spacing: 0.02em;
    font-weight: var(--font-secondary-weight);
    position: relative;
    margin-bottom: 10px;
}

.c-list .item::before {
    content: counter(item, decimal-leading-zero);
    position: absolute;
    left: -45px;
    top: 0;
    font-weight: 500;
    color: #575757;
}

/* strategy */
.strategy {
    display: flex;
    justify-content: space-between;
    padding: 32px 32px 120px 32px;
}

.strate-title {
    width: 467px;
    font-size: var(--font-heading1);
    line-height: 110%;
    letter-spacing: 0.01em;
    font-weight: var(--font-secondary-weight);
    margin: 0;
}

span {
    color: #F45F00;
}

.strate-content {
    max-width: 467px;
}


/* personality */
.personality {
    padding: 32px 32px 120px 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.personality-con {
    display: flex;
    justify-content: space-between;
}


/* tone */

.tone-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 14px;
}

.tone-content {
    display: flex;
    flex-direction: column;
    gap: 28px;
    max-width: 467px;

}

.tone {
    font-size: 22px;
    line-height: 120%;
    letter-spacing: 0.01em;
    font-weight: 700;
    margin: 0;
}

.h6 {
    font-size: var(--font-para2);
    margin-bottom: 6px;
    margin-top: 0;
}

.sample-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.s-card-container {
    display: flex;
    gap: 32px;
    justify-content: space-between;
    padding-bottom: 32px;
}

.s-card {
    max-width: 217.5px;
    display: flex;
    flex-direction: column;
    gap: 14px;
}


/* logo section */
.logo-container {
    padding: 32px 32px 120px 32px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.img-container {
    display: flex;
    flex-direction: column;
    gap: 64px;
}

.content-i-img {
    display: flex;
    gap: 5px;
    align-items: center;
}

.content-i-img img {
    height: 16px;
}

.img-content-card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 16px;
    row-gap: 30px;
}

.img-content-card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    max-width: 311.33px;
}

.i-p {
    margin: 0;
    font-size: var(--font-label);
    font-weight: var(--font-secondary-weight);
    line-height: 120%;
    letter-spacing: -0.01em;
}


/* color */
.color-containers {
    padding: 32px 32px 120px 32px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}


.color-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 20px;
}

.color {
    width: 229.5px;
    height: 229.5px;
    background-color: #FA9819;
    border-radius: 50%;
}

.color-name {
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-top: 10px;
    margin-bottom: 0;
    font-size: var(--font-label);
    font-weight: var(--font-secondary-weight);

}

.color-code {
    line-height: 120%;
    letter-spacing: -0.01em;
    margin-top: 4px;
    margin-bottom: 0;
    font-size: var(--font-label);
    font-weight: var(--font-secondary-weight);
}

.color1 {
    background-color: #B6C9CF;

}

.color2 {
    background-color: #FFFFFF;
    border: 1px solid black;
}

.color3 {
    background-color: #C6EBF7;
}

.color4 {
    background-color: #48749E;
}

.color5 {
    background-color: #DEEEFE;
}

.color6 {
    background-color: #E8EBEF;
}

.color7 {
    background-color: #F45F00;
}

.color8 {
    background-color: #000000;
}

.color9 {
    background-color: #A3A3A3;
}

.color10 {
    background-color: #E5E5E5;
}

.color10 {
    background-color: #1E3D59;
}


/* gradient */
.gradient-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 20px;
    padding: 0 32px 0 32px;
}

/* typography */

.typography-container {
    padding: 32px 32px 120px 32px;
    display: flex;
    gap: 30px;
    flex-direction: column;
}

.typo-content {
    display: flex;
    justify-content: space-between;
    gap: 32px;
}

.type-container {
    padding: 0px 32px 0px 32px;
    display: flex;
    gap: 40px;
    flex-direction: column;

}


.primary {
    font-size: var(--font-links);
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 120%;
    letter-spacing: -0.02em;
    color: #000000;
    font-weight: var(--font-secondary-weight);
}

.rethink {
    font-size: var(--font-heading1);
    margin: 0;
    line-height: 130%;
    letter-spacing: -0.02em;
    color: #000000;
    font-weight: var(--font-base-weight);
}

.primar-think {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 0;
}

.g {
    margin-top: 0;
}


/* size */
.size {
    margin-top: 32px;
    padding: 0 32px 0 32px;
}

.size-content {
    display: flex;
    justify-content: space-between;
    gap: 64px;
}

/* clear */
.clear {
    /* margin-bottom: 30px; */
}

.clear-title {
    font-size: 50px;
    line-height: 110%;
    letter-spacing: -0.02em;
    font-weight: var(--font-base-weight);
    max-width: 546px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.clear-content {
    display: flex;
    justify-content: space-between;
}

.clear-content p {
    color: #575757;
    line-height: 120%;
    letter-spacing: -0.01em;
    font-weight: var(--font-secondary-weight);
    margin-bottom: 7px;
    font-size: var(--font-label);
}


/* art */
.art-container {
    padding: 20px 32px 128px 32px;
}


/* card */
.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 32px;
    row-gap: 40px;

}

.card {
    max-width: 467px;
}

.card-title {
    font-size: 13px;
    font-weight: var(--font-secondary-weight);
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #000000;
    margin-top: 10px;
    margin-bottom: 8px;
}

.card-para {
    font-size: 13px;
    font-weight: var(--font-secondary-weight);
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #575757;
    margin: 0;
}

/* footer */
.footer-container {
    margin-left: 250px;
    padding: 0px 40px 0px 40px;

}

.footer-1 {
    display: flex;
    gap: 51px;
    align-items: flex-end;
    margin-bottom: 31px;
}

.f-item {
    display: flex;
    gap: 51px;
}

.f-item a {
    text-decoration: none;
    font-size: var(--font-links);
    color: #000000;
    line-height: 120%;
    letter-spacing: 0.02em;
    opacity: 1;
    font-weight: var(--font-secondary-weight);
}

.footer-2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 52px;
}

.footer-2-content {
    display: flex;
    gap: 16px;
}

.f-i {
    font-size: 13px;
    color: #000000;
    line-height: 120%;
    letter-spacing: 0.02em;
    opacity: 1;
    font-weight: var(--font-secondary-weight);
    margin: 0;
    text-decoration: none;
}


@media screen and (max-width:799px) {
    body {
        max-width: 100%;
    }

    .body-line {
        display: none;
    }

    .sidebar {
        display: none;
    }

    /* .mobile-menu {
        display: block;
    } */

    header {
        display: block;
        position: sticky;
        top: 0;
        padding: 0 32px 0 32px;
        z-index: 1000;
        background-color: white;
        justify-content: space-between;
    }

    .logo {
        display: flex;
        justify-content: space-between;
        padding: 18.08px 0;
        align-items: center;
        position: sticky;
    }

    .hr-1 {
        display: none;
    }

    .top-right,
    .top-menu {
        display: none;
    }

    .mobile-toggle {
        display: block;
        background: none;
        border: none;
        font-size: 13px;
        cursor: pointer;
        padding: 5px;
        font-weight: var(--font-secondary-weight);
        /* font-weight: 600; */
        color: #000000;
        line-height: 120%;
        letter-spacing: -0.02em;
    }

    .mobile-menu {
        display: none;
        position: fixed;
        width: 100%;
      
        flex-direction: column;
        padding: 0 20px 0 20px;
        background-color: white;
        margin-left: -8.5%;
        z-index: 3;
        /* top: 0; */
    }

    .mobile-menu a {
        padding: 15px 0px;
        text-decoration: none;
        font-size: var(--font-label);
        font-weight: var(--font-secondary-weight);
        color: #000000;
        display: flex;
        justify-content: space-between;
        position: relative;
    }

    .one {
        top: 31%;
        left: 23%;
    }

    .two {
        top: 31%;
        left: 17%;
    }

    .three {
        top: 31%;
        left: 7%;
    }

    .four {
        top: 31%;
        left: 8%;
    }

    .five {
        top: 31%;
        left: 18%;
    }

    .six {
        top: 31%;
        left: 20%;
    }

    .mobile-menu a:last-child {
        border-bottom: none;
    }

    .mobile-menu.active {
        display: flex;
    }

    main {
        margin-left: 0;
    }

    .hero {
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .hero img {
        max-width: 100%;
        transform: scale(1.5);
        transform-origin: center;
        position: relative;
        z-index: -1;
    }

    .guidelines,
    .content,
    .strategy {
        flex-direction: column;
        padding-bottom: 80px;
        padding: 32px 20px 80px 20px;
    }

    .guide {
        font-size: 30px;
        max-width: 100%;
        margin-bottom: 0;
    }

    .guide-para {
        font-size: 16px;
        max-width: 100% !important;
    }

    .c-title {
        margin: 0;
        font-size: 24px;
    }

    .c-list {
        margin-top: 0;
    }

    .c-list .item::before {
        left: -35px;
    }

    .item {
        font-size: 24px;
    }

    .strate-title {
        font-size: 30px;
        max-width: 222px;
    }

    .strate-content {
        max-width: 100%;
        margin-top: 12px;
    }

    .strate-img {
        max-width: 100%;
    }

    .personality-con {
        flex-direction: column;
    }

    .guide-para1 {
        margin-top: 12px;
    }

    .personality-img {
        max-width: 100%;
    }

    .tone-container {
        flex-direction: column;
    }

    .tone-content {
        gap: 24px;
        padding-bottom: 46px;
        max-width: 100%;
    }

    .tone {
        margin: 32px 0;
    }

    .personality {
        gap: 0;
        padding: 32px 20px 80px 20px;
    }

    .logo-content {
        max-width: 100% !important;
    }

    .s-card-container {
        flex-direction: column;
    }

    .tone1 {
        margin-bottom: 0;
    }

    .s-card {
        max-width: 100%;
    }

    .s-card .guide-para {
        margin-bottom: 0;
    }

    .logo-container {
        padding: 32px 20px 80px 20px;
    }

    .personality-con .guide-para {
        max-width: 100% !important;
    }

    .logo1 {
        margin-bottom: 12px;
    }

    .i {
        max-width: 100% !important;
        height: 344px;
        transform: scale(1.5);
        z-index: -1;
        position: relative;

    }

    .i-d {
        overflow: hidden;
        position: relative;
        z-index: 2;
    }


    .image-content img {
        max-width: 100%;
    }

    .clear1,
    .Secondary1,
    .incorrect1,
    .Partnerships {
        margin-top: 0;
    }

    .img-content-card-container {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 16px;
    }

    .img-content-card {
        max-width: 100%;
    }

    .color-1 {
        margin-bottom: 32px;
    }

    .color-content {
        max-width: 100% !important;
    }

    .color-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .color-card-container {
        /* display: flex;
        flex-direction: column;
        align-items: center; */
        /* text-align: start; */
    }

    .color-card {
        text-align: start;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 12px;

    }

    .color {
        width: 100%;
        height: auto;
        aspect-ratio: 1/1;
    }

    .color-name {
        text-align: left;
        width: 100%;
    }

    .color-code {
        text-align: left;
        width: 100%;
    }



    .gradient-container {
        /* grid-template-columns: repeat(1, 1fr); */
        /* row-gap: 32px; */
        display: flex;
        flex-direction: column;
        gap: 32px;
        align-items: center;

    }

    .gradient img {
        max-width: 100%;
    }

    .typo-content {
        flex-direction: column;
    }

    .typography-container {
        padding: 32px 20px 80px 20px;
    }

    .type-container {
        padding: 0;
    }

    .size {
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .clear:nth-of-type(1) {
        order: 4;
    }

    .clear:nth-of-type(2) {
        order: 3;
    }

    .clear:nth-of-type(3) {
        order: 2;
    }

    .clear:nth-of-type(4) {
        order: 1;
    }

    .typo-div-img{
        max-width: 100%;
        height: 300px;
        overflow: hidden;
        position: relative;
        z-index: 1;
        margin-bottom: 40px;
    }
    .typo-img{
        max-width: 100%;
        height: 300px !important;
      
        transform: scale(1.1);
        /* zoom: 150%; */
        position: relative;
        z-index: -1;
        margin-bottom: 0;
    }


    .guide-content {
        max-width: 100% !important;
    }

    .primar-think {
        display: flex;
        flex-direction: column;
        gap: 40px;
        padding-bottom: 0;
    }

    .rethink {
        font-size: 41px;
    }

    .size-content {
        flex-direction: column;
        gap: 32px;
    }

    .size-content .tone {
        margin: 0;
    }

    .card-container {
        /* grid-template-columns: repeat(1,1fr); */
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card img {
        max-width: 100%;
    }

    .footer-container {
        margin-left: 0;
    }

    .footer-1 {
        flex-direction: column;
        align-items: flex-start;
        gap: 59px;
    }
    .footer-1 img{
        max-width: 270px;
    }

    .f-item {
        flex-direction: column;
        gap: 19px;
    }


}




@media screen and (min-width: 800px) and (max-width: 1279px) {
    body {
        max-width: 100%;
    }

    .body-line {
        display: none;
    }

    .sidebar {
        display: none;
    }

    header {
        display: block;
        padding: 0 32px 0 32px;
    }

    .top-nav .logo {
        display: flex;
        justify-content: space-between;
        padding: 14px 0px 14px 0px;
    }

    .top-right {
        display: flex;
        gap: 12px;
    }

    .top-menu {
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        padding: 14px 12px 14px 0px;
    }

    .mobile-toggle {
        display: none;
    }

    .hero {
        overflow: hidden;
        position: relative;
        z-index: 1;
    }

    .hero img {
        max-width: 100%;
        transform: scale(1.3);
        transform-origin: center;
        position: relative;
        z-index: -1;
    }

    main {
        margin-left: 0;

    }

    .guidelines {
        /* padding-top: 93px; */
        padding-bottom: 80px;
    }

    .content,
    .strategy,
    .personality,
    .logo-container {
        padding-bottom: 80px;
    }

    .guide {
        max-width: 352px;
    }

    .guides {
        max-width: 388px !important;
        font-size: 16px !important;
    }


    .c-title {
        font-size: 26px;
        width: 352px;
    }

    .item {
        font-size: 26px;
    }

    .c-list .item::before {
        left: -35px;
    }

    .guide-para {
        max-width: 352px !important;
        font-size: 15px;
    }

    .c-list {
        width: 312px;
    }

    .strate-content {
        max-width: 352px;
    }

    .strate-title {
        font-size: 45px;
        max-width: 352px;
    }

    .strate-img {
        max-width: 100%;
    }


    .personality-img {
        max-width: 100%;
    }

    .image-content img {
        max-width: 100%;
    }

    .color {
        width: 172px;
        height: 172px;
    }

    .gradient img {
        max-width: 100%;
    }

    .guide-content {
        width: 388px;
    }

    .card,
    .card img {
        max-width: 100%;
    }

    .size {
        display: flex;
        /* flex-direction: column-reverse; */
        flex-direction: column;
    }

    .footer-container {
        margin-left: 0;
    }

    .footer-1 {
        flex-direction: column;
        align-items: flex-start;
    }
}